google-api-python-client
newsapi-python
feedparser
spacy
geopy
folium
wordcloud
plotly
pandas
python-dotenv
scikit-learn
opencv-python
requests
beautifulsoup4
Pillow
matplotlib
streamlit
streamlit-autorefresh
streamlit-folium
nbformat
ipykernel
