google-api-python-client
newsapi-python
feedparser
networkx
pyvis
spacy
textblob
vaderSentiment
folium
plotly
streamlit
streamlit-autorefresh
streamlit-folium
shap
pandas
numpy
requests
python-dotenv
scikit-learn
matplotlib
seaborn
